<div class="container text-center" style="margin-top: 15%">
  <h1 class="intro-title text-uppercase text-extrabold margin-bottom-30 brand-color">Restaurant Guide</h1>
  <p class="width-60 white-text mb-50">Find amazing restaurants and the best food in your city!</p>

  <div class="restaurant-cta-wrapper">
    <a href="#findRestaurants" class="page-scroll btn btn-lg text-medium mr-20 waves-effect waves-light">Find restaurants</a>
    <a href="#writeReview" class="page-scroll btn btn-lg text-medium white waves-effect waves-dark">Write Review</a>
  </div>
</div>